body {
  font-family: "Hanken Grotesk", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parentDiv {
  width: 375px;
  height: 809px;
  background-color: white;
}
.topDiv {
  width: 375px;
  border-radius: 0px 0px 32px 32px;
  background: var(
    --Gradient-1,
    linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%)
  );
  box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
  padding: 24px 0 40px;
}
.top-h2 {
  color: var(--Light-Blue, #cac9ff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 94px;
  margin-right: auto;
  margin-left: auto;
}
.center-div {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  background: var(
    --Gradient-2,
    linear-gradient(
      180deg,
      #4d21c9 0%,
      rgba(37, 33, 201, 0) 100%,
      rgba(37, 33, 201, 0) 100%
    )
  );
  border-radius: 50%;

  flex-shrink: 0;
  margin-left: auto;
  margin-top: 24px;
  margin-right: auto;
  padding-top: 25px;
  padding-left: 38px;
  padding-right: 39px;
}
.score-average {
  color: var(--White, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Hanken Grotesk";
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 72px;
}
.span-class {
  color: var(--Light-Blue, #cac9ff);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 700;
  opacity: 0.5168;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}
.h1-class {
  color: var(--White, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Hanken Grotesk";
  font-size: 24px;
  font-weight: 700;
  margin-top: 24px;
}
.large-text {
  width: 260px;
  color: var(--Light-Blue, #cac9ff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}
.middle-h2 {
  color: var(--Dark-Navy, #303b59);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-weight: 700;
  margin-left: 32px;
  margin-top: 24px;
}
.reaction-div {
  border-radius: 12px;
  background: var(
    --red-95-white,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #f55
  );
  width: 315px;
  height: 56px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}
.reaction-img {
  margin-left: 16px;
  margin-top: 17px;
  /* margin-bottom: 19px; */
}
.reaction-text {
  color: var(--Red, #f55);
  font-size: 16px;
  font-weight: 500;
  margin-left: 12px;
}
.span-80 {
  color: var(--Dark-Navy, #303b59);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 700;
  margin-left: 124px;
  margin-right: 8px;
}
.span-100 {
  color: var(--Dark-Navy, #303b59);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 700;
}
.memory-div {
  width: 315px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(
    --yellow-95-white,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #ffb21e
  );
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}
.memory-img {
  margin-left: 16px;
  margin-top: 18px;
}
.memory-span {
  margin-left: 12px;
  color: var(--Yellow, #ffb21e);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 500;
  margin-right: 128px;
}
.span-92 {
  color: var(--Dark-Navy, #303b59);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 700;
}
.memor-100 {
  color: var(--Dark-Navy, #303b59);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 700;
  margin-left: 8px;
}
.verbal-div {
  width: 315px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(
    --green-95-white,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #00bb8f
  );
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}
.verbal-img {
  margin-top: 18px;
  margin-left: 16px;
}
.verbal-text {
  color: var(--Green, #00bb8f);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 500;
  margin-left: 12px;
}
.verbal-61 {
  margin-left: 143px;
  color: var(--Dark-Navy, #303b59);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 700;
}
.verbal-100 {
  color: var(--Dark-Navy, #303b59);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 700;
  margin-left: 8px;
}
.visual-div {
  width: 315px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(
    --blue-95-white,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #1125d6
  );
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}
.visual-icon {
  margin-top: 18px;
  margin-left: 16px;
}
.visual-text {
  color: var(--Blue, #1125d6);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 500;
  margin-left: 12px;
}
.visual-73 {
  color: var(--Dark-Navy, #303b59);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 700;
  margin-left: 143px;
}
.visual-100 {
  color: var(--Dark-Navy, #303b59);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 700;
  margin-left: 8px;
}
.last-div {
  width: 315px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 128px;
  background: var(--Dark-Navy, #303b59);
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 17px; */
}
.lastp {
  color: var(--White, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
}
